absl-py==2.1.0
alembic==1.13.2
altair==5.3.0
altgraph==0.17.4
annotated-types==0.7.0
app-model==0.3.0
appdirs==1.4.4
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
attrs==25.1.0
auto-py-to-exe==2.44.1
babel==2.16.0
bcrypt==4.3.0
beautifulsoup4==4.12.3
blinker==1.8.2
bottle==0.13.1
bottle-websocket==0.2.9
branca==0.7.2
Brotli==1.1.0
bs4==0.0.2
cachetools==5.3.3
cairocffi==1.7.1
CairoSVG==2.7.1
captif-db-config==0.14
certifi==2023.11.17
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
clr-loader==0.2.6
colorama==0.4.6
comm==0.2.2
config==0.5.1
contourpy==1.2.0
cssselect2==0.7.0
customtkinter==5.2.2
cycler==0.12.1
dabl==0.2.6.2
darkdetect==0.8.0
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Django==5.1.1
Eel==0.17.0
esda==2.5.1
et-xmlfile==1.1.0
executing==2.0.1
fiona==1.9.5
Flask==3.0.3
flask-babel==4.0.0
Flask-JWT-Extended==4.6.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
flatbuffers==25.2.10
flutter==0.1
folium==0.16.0
fonttools==4.49.0
fpdf==1.7.2
frozendict==2.4.4
future==1.0.0
gast==0.6.0
geographiclib==2.0
geopandas==0.14.1
geopy==2.4.1
gevent==24.2.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
googletrans==3.0.0
greenlet==3.0.3
grpcio==1.71.0
gTTS==2.5.4
gunicorn
h11==0.9.0
h2==3.2.0
h5py==3.13.0
hpack==3.0.0
hstspreload==2024.3.1
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
in-n-out==0.2.1
ipykernel==6.29.3
ipython==8.22.2
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.3.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.1
jupyter_core==5.7.2
keras==3.9.0
kiwisolver==1.4.5
libclang==18.1.1
libpysal==4.11.0
libretranslatepy==2.1.1
lxml==5.2.1
Mako==1.3.5
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
match==0.3.2
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.4.1
moviepy==2.0.0
multitasking==0.0.11
mysqlclient==2.2.4
namex==0.0.8
nest-asyncio==1.6.0
nltk==3.8.1
numpy==1.26.2
opencv-python==4.10.0.84
openpyxl==3.1.2
opt_einsum==3.4.0
optree==0.14.1
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.4
parso==0.8.3
patsy==0.5.6
pdfkit==1.0.0
peewee==3.17.5
pefile==2024.8.26
pillow==10.2.0
platformdirs==4.2.0
plotly==5.22.0
proglog==0.1.10
prompt-toolkit==3.0.43
protobuf==4.25.3
proxy_tools==0.1.0
psutil==5.9.8
psycopg2==2.9.9
psycopg2-binary==2.9.9
psygnal==0.11.1
pure-eval==0.2.2
pyarrow==16.0.0
pycparser==2.22
pydantic==2.9.2
pydantic-compat==0.1.2
pydantic_core==2.23.4
pydeck==0.9.1
pydyf==0.11.0
Pygments==2.17.2
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyJWT==2.9.0
pyparsing==3.1.1
pyphen==0.16.0
pyproj==3.6.1
pyproject==1.3.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pythonnet==3.0.4
pytz==2023.3.post1
pywebview==5.2
pywin32==306
pywin32-ctypes==0.2.3
pyzbar==0.1.9
pyzmq==25.1.2
qrcode==8.0
query==0.1.4
referencing==0.35.1
regex==2023.12.25
requests==2.31.0
rfc3986==1.5.0
rich==13.7.1
rpds-py==0.18.1
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
selenium==4.29.0
setuptools==69.0.3
shapely==2.0.2
six==1.16.0
six21==0.1.3
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.27
SQLAlchemy-Utils==0.41.2
sqlparse==0.5.1
stack-data==0.6.3
statsmodels==0.14.2
streamlit==1.34.0
sudo==1.0.0
tenacity==8.3.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
tflite==2.18.0
threadpoolctl==3.3.0
tinycss2==1.3.0
tk==0.1.0
toml==0.10.2
toolz==0.12.1
tornado==6.4
tqdm==4.66.1
traitlets==5.14.2
translate==3.6.1
trio==0.29.0
trio-websocket==0.12.2
ttkthemes==3.2.2
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.2.1
watchdog==4.0.0
wcwidth==0.2.13
weasyprint==62.3
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
wheel==0.43.0
whichcraft==0.6.1
wrapt==1.17.2
wsproto==1.2.0
XlsxWriter==3.2.0
xyzservices==2024.4.0
yfinance==0.2.38
zope.event==5.0
zope.interface==7.0.3
zopfli==0.2.3
